.pagenotfound {
    width: 100%;
    height: 50vh;
    text-align: center;

    p {
        font-size: 10vw;
        color: $secoundcolor;
    }
    
    p:first-child {
        font-size: 20vw;
        text-shadow: 7px 7px #000000;
      }
}

@include breakpint(tablet) {
    .pagenotfound {
        p:first-child {
            text-shadow: 2px 2px #000000;
          }
    }

}