
.home-component {
    font-size: $centarFontSize;

    .for-vanila-effect {
        overflow: hidden;
        display: block;
    }

    .home-component-intro {
        margin: 100px auto;  
        color: $fontColorText;
        width: 60%;

        img {
            display: none;
            padding: 10px;
        };
    }

    .home-component-events {
        margin: 100px 0px 100px 0px;

        h5 {
            margin: 20px 0 50px 0
        }
    }
}

//Upcoming news
.home-upcoming-news {
    display: flex;
    margin: 20px 0;

    .home-upcoming-news-date {
        display: block;
        min-height: 100px;
        width: 100px;
        background: $footerBackgroundColor;
        color: $footerFontColor;
        padding: 10px;

        p:nth-child(1) {
            text-align: center;
            font-size: 1.5rem;
        }

        p:nth-child(2) {
            text-align: center;
        }
    }

    .home-upcoming-news-title {
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: #000;
        }

        a:visited {
            color: #000;
        }

        a:hover {
            text-decoration: underline;
        }

        p:nth-child(1) {
            font-size: 1.5rem;
        }

        p:nth-child(2) {
            color: $fontColorText;
        }
    }
}


@include breakpint(tablet) {
    .home-component {
        .for-vanila-effect {
            display: none;
        }

        .home-component-intro {
            width: 100%;

            img {
                display: inline-block;
            };
        }
    }

    .home-upcoming-news {
        display: flex;
        margin: 20px 0;
    
        .home-upcoming-news-date {
          display: none;
        }
    
        .home-upcoming-news-title {
            padding: 0px 10px;
      
            p:nth-child(1) {
                font-size: 1rem;
            }
    
            p:nth-child(2) {
                font-size: 0.8rem;
            }
        }
    }

}