@-webkit-keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@-webkit-keyframes sliderFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@keyframes sliderFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@-webkit-keyframes sliderFromRight {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@keyframes sliderFromRight {
    0% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}