
// member component
.memberNotExist {
    // border: 1px solid red;
    margin: 200px auto;
    text-align: center;
}

// teamMembers component
.teamMembers {
    text-decoration: none;
    background-color: aqua;
}

// teamMember
.teamMemberContainer {
    margin-top: 3em;
    margin-bottom: 3em;
}

.buttonPDFTeamMember {
    margin: 1em;
}

.personImg {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.personImg_container {
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}

.membersinstitution {
    margin-top: 50px;
    margin-bottom: 20px;
}

.members-institution-list {
    margin: 0 auto;
    width: 500px;

    .members-institution-list-item:hover {
        font-weight: bold;
    }
}

