
// member component
.memberNotExist {
    // border: 1px solid red;
    margin: 200px auto;
    text-align: center;
}

// teamMembers component
.teamMembers {
    text-decoration: none;
    background-color: aqua;
}

// teamMember
.teamMemberContainer {
    margin-top: 3em;
    margin-bottom: 3em;
}

.buttonPDFTeamMember {
    margin: 1em;
}

.personImg {
    width: 400px;
    height: 500px;
}
