.tilt-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  .tilt-container {
    .tilt-box-wrap {
      width: 90%;
      height: 400px;
      position: relative;
      transition: all 0.6s ease-out;
      perspective: 1000px;

      &:hover {
        transition: all 0.3s linear;
        transform: scale(1.02);
      }

      .t_over {
        width: 33.333%;
        height: 33.333%;
        position: absolute;
        z-index: 1;
      }

      .t_over:nth-child(1) {
        left: 0;
        top: 0;
      }
      .t_over:nth-child(2) {
        left: 33.333%;
        top: 0;
      }
      .t_over:nth-child(3) {
        left: 66.666%;
        top: 0;
      }
      .t_over:nth-child(4) {
        left: 0;
        top: 33.333%;
      }
      .t_over:nth-child(5) {
        left: 33.333%;
        top: 33.333%;
      }
      .t_over:nth-child(6) {
        left: 66.666%;
        top: 33.333%;
      }
      .t_over:nth-child(7) {
        left: 0;
        top: 66.666%;
      }
      .t_over:nth-child(8) {
        left: 33.333%;
        top: 66.666%;
      }
      .t_over:nth-child(9) {
        left: 66.666%;
        top: 66.666%;
      }

      .t_over:nth-child(1):hover ~ .tilt-box{
        transform: rotateX(-10deg) rotateY(10deg);
        box-shadow: -10px -10px 10px #bebebe;
      }
      .t_over:nth-child(2):hover ~ .tilt-box {
        transform: rotateX(-10deg) rotateY(0deg);
        box-shadow: 0px -10px 10px #bebebe;

      }
      .t_over:nth-child(3):hover ~ .tilt-box {
        transform: rotateX(-10deg) rotateY(-10deg);
        box-shadow: 10px -10px 10px #bebebe;
      }
      .t_over:nth-child(4):hover ~ .tilt-box {
        transform: rotateX(0deg) rotateY(10deg);
        box-shadow: -10px 0px 10px #bebebe;
      }
      .t_over:nth-child(5):hover ~ .tilt-box {
        transform: rotateX(0deg) rotateY(0deg);
      }
      .t_over:nth-child(6):hover ~ .tilt-box {
        transform: rotateX(0deg) rotateY(-10deg);
        box-shadow: 10px 0px 10px #bebebe;
      }
      .t_over:nth-child(7):hover ~ .tilt-box {
        transform: rotateX(10deg) rotateY(10deg);
        box-shadow: -10px 10px 10px #bebebe;
      }
      .t_over:nth-child(8):hover ~ .tilt-box {
        transform: rotateX(10deg) rotateY(0deg);
        box-shadow: 0px 10px 10px #bebebe;
      }
      .t_over:nth-child(9):hover ~ .tilt-box {
        transform: rotateX(10deg) rotateY(-10deg);
        box-shadow: 10px 10px 10px #bebebe;
      }

      .tilt-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        transition: all 0.6s ease-out;
        transform: rotateX(0deg) rotateY(0deg);
        perspective: 1000px;
        transform-style: preserve-3d;
        padding: 10px;
        align-items:center;
      }

      .title-box-img {
        transform: translateZ(140px);
        width: 100%;
        text-align: center;
        position: relative;
      }

      .title-box-img img{
        width: 80%;
        z-index: 10;
        filter: drop-shadow(20px 30px 20px #646262);
      }




    }
  }
}
