.centar-container {
  color: $maincolor;
  font-size: $centarFontSize;
}

.centerText {
  text-align: justify;
}

.center-componentGoals {
color: #dd3932;
//   background: rgb(247, 242, 242);
}

.centerInstitution {
  li {
    margin-top: 20px;
    color: $maincolor;
  }
  a {
    color: $maincolor;
    text-decoration: none;
  }

  a:visited {
    color: $maincolor;
  }

  a:focus {
    color: $maincolor;
  }

  a:hover {
    color: #dd3932;
  }
}

.centerOurMission {
  margin-top: 30px;
  span {
    font-weight: bold;
  }
}
