.centar-container {
  color: $maincolor;
  font-size: $centarFontSize;
}

.centerText {
  text-align: justify;
}

.center-component-goals {
  opacity: 0.8;
  background-color: #fffbce;
}

.centerInstitution {
  li {
    margin-top: 20px;
    color: $maincolor;
  }
  a {
    color: $maincolor;
    text-decoration: none;
  }

  a:visited {
    color: $maincolor;
    text-decoration: none;
  }

  a:focus {
    color: $maincolor;
    text-decoration: none;
  }

  a:hover {
    color: $maincolor;
    font-weight: bold;
    text-decoration: none;
  }
}

.centerOurMission {
  margin-top: 30px;
  span {
    font-weight: bold;
  }
}
