.collaborators {
    font-size: $centarFontSize;

    .collaboratorsInstitution {

        li {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        a {
            display: block;
            color: $fontColorText;
            text-decoration: none;
            font-size: $normalFontSize;
            transition: transform 1s;
        };
    
        a:visited {
            color: $fontColorText;
        };
    
        a:focus {
            color: $fontColorText;
        };
    
        a:hover {
            transform: translateX(10px);
            font-weight: bold;
            color: $maincolor;
        };
    }
    
    .collaborators-class{
        color: $fontColorText;
    }

}
