.collaborators {
    font-size: $centarFontSize;

    .collaboratorsInstitution {
        li {
            margin-top: 20px;
        }
        a {
            color: $maincolor;
            text-decoration: none;
            font-size: $normalFontSize;
        };
    
        a:visited {
            color: $maincolor;
        };
    
        a:focus {
            color: $maincolor;
        };
    
        a:hover {
            font-weight: bold;
        };
    }
    
    .collaborators-class {
        color: $maincolor;
    }

}
