.laboratories {
    -webkit-animation: opacityAnimation 0.5s ease-in;
    animation: opacityAnimation 0.5s ease-in;
    margin-bottom: 100px;

    .laboratories-picture {
        margin-top: 30px;
    }

    .laboratories-picture img{
        border: 3px solid #dfdfdf;
        opacity: 1;
        -webkit-box-shadow: 10px 20px 50px #8a8787;
                box-shadow: 10px 20px 50px #8a8787;
        -webkit-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    
    .laboratories-show {
        color: $maincolor;
        font-size: $centarFontSize;
        padding: 10px;
    
        p {
            color: $fontColorText;
        }
    }
}



@include breakpint(tablet) {
    .laboratories {
        font-size: 0.8rem;
    }

}