.button-link {
    a {
        position: relative;
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        // color: #5a84a2;
        color: #1fa0e1;
        font-size: 18px;
        border-radius: 40px;
        cursor: pointer;
        box-shadow:  6px 6px 12px #dbdbdb,
                    -6px -6px 12px #ffffff;
    }

    a:hover {
        text-decoration: none;
        // color: #5a84a2;
        color: #1fa0e1;
        cursor: pointer;
        box-shadow:  inset 6px 6px 12px #dbdbdb,
                          -6px -6px 12px #ffffff;
    }

    a:hover span{
      display: inline-block;
      // transform: scale(0.98);
    }
}

.button-action {
  button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    // color: #5a84a2 !important;
    color: #1fa0e1;
    font-size: 18px;
    background: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow:  6px 6px 12px #dbdbdb,
                -6px -6px 12px #ffffff;
  }
  button:hover {
    text-decoration: none;
    // color: #5a84a2;
    color: #1fa0e1;
    box-shadow:  inset 6px 6px 12px #dbdbdb,
                      -6px -6px 12px #ffffff;
  }
  button:focus {
    text-decoration: none;
    // color: #5a84a2;
    color: #1fa0e1;
    box-shadow:  inset 6px 6px 12px #dbdbdb,
                      -6px -6px 12px #ffffff;
  }
}

.button-action-full-background {
  button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 14px;
    background: #1fa0e1;
    border: none;
    border-radius: 20px;
    box-shadow:  6px 6px 12px #dbdbdb,
                -6px -6px 12px #ffffff;
  }
  button:hover {
    text-decoration: none;
    color: #ffffff;
    box-shadow:  inset 6px 6px 12px #dbdbdb,
                      -6px -6px 12px #ffffff;
  }
  button:focus {
    border: 1px solid rgb(38, 37, 48);
    box-shadow:  inset 6px 6px 12px #dbdbdb,
                      -6px -6px 12px #ffffff;
  }
}

.button-action-full-background-two {
    padding: 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 18px;
    background: #1fa0e1;
    border: none;

  &:hover {
    text-decoration: none;
    color: #ffffff;
    box-shadow:  inset 2px 2px 6px #dbdbdb,
                       -2px -2px 6px #ffffff;
  }

  &:focus {
    border: 1px solid rgb(38, 37, 48);
    box-shadow:  inset 2px 2px 6px #dbdbdb,
                      -2px -2px 6px #ffffff;
  }
}


@include breakpint(tablet) {
  .button-action-full-background {
      button {
        text-align: justify;
        font-size: 10px;
      }
  }
} 
