.button-link {
    a {
        position: relative;
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        // color: #5a84a2;
        color: #1fa0e1;
        font-size: 18px;
        border-radius: 40px;
        cursor: pointer;
        box-shadow:  6px 6px 12px #dbdbdb,
                    -6px -6px 12px #ffffff;
    }

    a:hover {
        text-decoration: none;
        // color: #5a84a2;
        color: #1fa0e1;
        cursor: pointer;
        box-shadow:  inset 6px 6px 12px #dbdbdb,
                          -6px -6px 12px #ffffff;
    }

    a:hover span{
      display: inline-block;
      // transform: scale(0.98);
    }
}

.button-action {
  button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    // color: #5a84a2 !important;
    color: #1fa0e1;
    font-size: 18px;
    background: #ffffff;
    border: none;
    border-radius: 40px;
    box-shadow:  6px 6px 12px #dbdbdb,
                -6px -6px 12px #ffffff;
  }
  button:hover {
    text-decoration: none;
    // color: #5a84a2;
    color: #1fa0e1;
    box-shadow:  inset 6px 6px 12px #dbdbdb,
                      -6px -6px 12px #ffffff;
  }
  button:focus {
    text-decoration: none;
    // color: #5a84a2;
    color: #1fa0e1;
    box-shadow:  inset 6px 6px 12px #dbdbdb,
                      -6px -6px 12px #ffffff;
  }
}

.button-action-full-background {
  button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 14px;
    background: #9ed9f8;
    border: none;
    border-radius: 20px;
    // box-shadow:  6px 6px 12px #dbdbdb,
    //             -6px -6px 12px #ffffff;
    box-shadow:
    0.5px 0.5px 0px rgba(0, 0, 0, 0.08),
    0.7px 0.7px 0px rgba(0, 0, 0, 0.115),
    1.2px 1.2px 0px rgba(0, 0, 0, 0.15),
    5px 5px 0px rgba(0, 0, 0, 0.23)
  ;
  }
  button:hover {
    text-decoration: none;
    color: #ffffff;
    background: #1fa0e1;
  }
}
.button-action-full-background-active {
  button {
    background: #1fa0e1;
    border: 1px solid rgb(38, 37, 48);
  }
}

.button-action-full-background-two {
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #ffffff;
    font-size: 18px;
    background: #9ed9f8;
    // background: #1fa0e1;
    border: none;
    box-shadow:
      0.5px 0.5px 0px rgba(0, 0, 0, 0.08),
      0.7px 0.7px 0px rgba(0, 0, 0, 0.115),
      1.2px 1.2px 0px rgba(0, 0, 0, 0.15),
      5px 5px 0px rgba(0, 0, 0, 0.23)
    ;
  
  &:hover {
    text-decoration: none;
    color: #ffffff;
    background: #1fa0e1;
  }

}

.button-action-full-background-two-active {
  border: 1px solid rgb(38, 37, 48);
  background: #1fa0e1;
}


@include breakpint(tablet) {
  .button-action-full-background {
      button {
        text-align: justify;
        font-size: 10px;
      }
  }
} 
