// color variables
$maincolor: #000;
$spherecolor: #daedff;
$footerBackgroundColor: #1fa0e1;
$footerFontColor: #d1f5ff;
$fontColorText: #6c757d;

// font-size
$centarFontSize: 1.2rem;
$normalFontSize: 1rem;
