.groups-component {
    font-size: $centarFontSize;
    -webkit-animation: opacityAnimation 0.5s ease-in;
    animation: opacityAnimation 0.5s ease-in;
    overflow: hidden;

    p {
        color: $fontColorText;
    }

    .groups-component-pictures {
        width: 100%;
        overflow: hidden;
    }

    .groups-border{
        margin-bottom: 20px;     
    }

    .groups-picture  {

        div {
            -webkit-animation: sliderFromRight 1s ease-in;
            animation: sliderFromRight 1s ease-in;
        }

        img {
            border: 3px solid #dfdfdf;
            margin-bottom: 15px;
            opacity: 0.7;
            box-shadow: 10px 10px 10px #8a8787;
            transition: all 1s linear;

            &:hover {
                opacity: 1;
            }
        }
       
    }

}

.group-list {
    margin: 0 auto;
    color: black;
    font-size: $normalFontSize;

    .group-list-item {
        -webkit-animation-name: sliderFromLeft;
        animation-name: sliderFromLeft;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    .group-list-item:hover {
        font-weight: bold;
    }
}




