.groups-component {
    font-size: $centarFontSize;

    .groups-component-pictures {
        width: 100%;
        overflow: hidden;
    }

    .groups-border{
        margin-bottom: 20px;
    }

    .groups-picture img{
        border: 3px solid #dfdfdf;
        margin-bottom: 15px;
    }

}

.group-list {
    margin: 0 auto;
    color: black;
    font-size: $normalFontSize;

    .group-list-item:hover {
        font-weight: bold;
    }
}

