.gallery-container {
  -webkit-animation: opacityAnimation 0.5s ease-in;
  animation: opacityAnimation 0.5s ease-in;
  
  .gallery-container-all-pictures {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-width: 50%;
         -moz-column-width: 50%;
              column-width: 50%;
      margin: 50px 0;

      .gallery-frame {
          overflow: hidden;
          margin-bottom: 10px;
          max-height: 500px;
          position: relative;
          background: none;

          .gallery-frame-text {
            display: inline-block;
            position: absolute;
            z-index: 50;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background: white;
            background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.6));
            text-align: justify;
            transform: translateY(150px);
            transition: transform 1.5s ease-out;
          }

          img {
              width: 100%;
              height: auto;
              -webkit-transition: -webkit-transform 10s;
              transition: -webkit-transform 10s;
              -o-transition: transform 10s;
              transition: transform 10s;
              transition: transform 10s, -webkit-transform 10s;
              border: 1px solid #636060;
              z-index: 20;
          }

          &:hover {
                img {
                -webkit-transform: scale(1.4);
                    -ms-transform: scale(1.4);
                        transform: scale(1.4);
                 }

                 .gallery-frame-text {
                  transform: translateY(0px);
                 }

          }

          // img:hover {
          //     -webkit-transform: scale(1.4);
          //         -ms-transform: scale(1.4);
          //             transform: scale(1.4);
          // }

      }
  }

  .gallery-container-all-pictures  .gallery-frame {
      -webkit-transition: all 350ms ease;
      -o-transition: all 350ms ease;
      transition: all 350ms ease;
      cursor: pointer;
  }

  /*when open model slider*/
  .model-gallery {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    background-color: black;
    visibility: hidden;
    -webkit-transition: opacity 0.4s ease, visibility 0.4s ease,
      -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.4s ease, visibility 0.4s ease,
      -webkit-transform 0.5s ease-in-out;
    -o-transition: opacity 0.4s ease, visibility 0.4s ease,
      transform 0.5s ease-in-out;
    transition: opacity 0.4s ease, visibility 0.4s ease,
      transform 0.5s ease-in-out;
    transition: opacity 0.4s ease, visibility 0.4s ease,
      transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    overflow: hidden;
    z-index: 1095;
  }

  .open-model {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .model-gallery-img {
    width: 100%;
    height: 100%;

    .model-gallery-img-text {
      position: absolute;
      background: white;
      background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.1));
      backdrop-filter: blur(10px);
      border-radius: 2%;
      bottom: 30px;
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
      width: 500px;
      padding: 10px;
    }
  }

  .model-gallery-img img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
  }

  .active-model-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .inactive-model-img {
    display: none;
  }

  .close_image {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background-color: rgba(172, 160, 160, 0.6);
  }

  .close_image:hover {
    color: #ffffff;
    background-color: rgba(226, 202, 202, 0.6);
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }

  .slide_prev,
  .slide_next {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    background-color: rgba(172, 160, 160, 0.6);
  }

  .slide_prev:hover,
  .slide_next:hover {
    color: #ffffff;
    background-color: rgba(212, 181, 181, 0.6);
    transition: all 0.5s ease-in;
  }

  .slide_next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }

  .slide_prev {
    left: 0;
    border-radius: 5px 0 0 5px;
  }
}

@include breakpint(tablet) {
  .gallery-container {
    .gallery-container-all-pictures {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;

      .gallery-frame { 
        .gallery-frame-text {
          display: inline-block;
          position: absolute;
          transform: translateY(0px);
          transition: transform 0s;
          padding: 2px;
          font-size: 0.8em;
        }
      }
    }
    .model-gallery {
      display: none;
    }
  }
}

@include breakpint(mobile) {
  .gallery-container {
    .gallery-container-all-pictures {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;

      .gallery-frame { 
        .gallery-frame-text {
         padding: 1px;
        }
      }

    }
    .model-gallery {
      display: none;
    }
  }
}
