.members-container {
  color: $maincolor;
  font-size: $centarFontSize;
  -webkit-animation: opacityAnimation 0.5s ease-in;
  animation: opacityAnimation 0.5s ease-in;
}
// member component
.member-container {
  -webkit-animation: opacityAnimation 0.5s ease-in;
  animation: opacityAnimation 0.5s ease-in;
}

.member-not-exist {
  margin: 200px auto;
  text-align: center;
}

// teamMembers component
.teamMembers {
  text-decoration: none;
  background-color: aqua;
}

// teamMember
.team-member-container {
  margin-top: 3em;
  margin-bottom: 3em;
}

.button-PDF-team-member {
  margin: 1em;
}

.person-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-img-container {
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}

.membersinstitution {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: $normalFontSize;
}

.members-institution-list {
  margin: 0 auto;
  max-width: 600px;

  .members-institution-list-item:hover {
    font-weight: bold;
  }

  .list-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.75;

    .list-item-photo {
      width: 100px;
      height: 100px;
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      margin-left: auto;
      border: 3px solid #dfdfdf;
      -webkit-box-shadow: 5px 5px 10px #8a8787;
              box-shadow: 5px 5px 10px #8a8787;
      display: block;
      background-clip: padding-box;
       backdrop-filter: blur(70px);
    }

    &:hover {
        opacity: 1;
    }

  }
}

.buttons-for-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-items-for-member {
  margin-left: 20px;
  margin-bottom: 20px;
}



@include breakpint(mobile) {
  .list-item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: colum;
            flex-direction: colum;

   .list-item-title {
      font-size: 0.7em;
    }

  }
}
