.contact-container {
    color: $maincolor;
    -webkit-animation: opacityAnimation 0.5s ease-in;
    animation: opacityAnimation 0.5s ease-in;
}

.contact-text {
    font-size: $centarFontSize;
    span {
        margin-right: 10px;
        font-weight: bold;
    }
}

.google-map-responsive {
    width: 80%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.google-map-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    -webkit-animation: fadein 3s ease-in-out;
            animation: fadein 3s ease-in-out;
}

.telephone-img-icon:hover {
    -webkit-animation: telephoneanimation 0.8s;
    animation: telephoneanimation 0.8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.email-img-icon:hover {
    -webkit-animation: emailanimation 1.5s;
    animation: emailanimation 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.house-img-icon:hover {
    -webkit-animation: houseanimation 1.5s;
    animation: houseanimation 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; 
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes telephoneanimation {
    0% { -webkit-transform: scale(1); transform: scale(1); }
    10% { -webkit-box-shadow: 0 0 0 10px rgba(225, 225, 225, 0.2), 0 0 0 20px rgba(225, 225, 225, 0.2) }
    20% {  }
    30% {  }
    40% {  }
    50% {  }
    60% {  }
    70% {  }
    80% {  }
    90% {  }
    100% { -webkit-transform: scale(1.03); transform: scale(1.03); }
  }

@keyframes telephoneanimation {
    0% { -webkit-transform: scale(1); transform: scale(1); }
    10% { -webkit-box-shadow: 0 0 0 10px rgba(225, 225, 225, 0.2), 0 0 0 20px rgba(225, 225, 225, 0.2) }
    20% {  }
    30% {  }
    40% {  }
    50% {  }
    60% {  }
    70% {  }
    80% {  }
    90% {  }
    100% { -webkit-transform: scale(1.03); transform: scale(1.03); }
  }

  @-webkit-keyframes emailanimation {
    0% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity:1 }
    100% { -webkit-transform: translateY(15px); transform: translateY(15px); opacity:0 }
  }

  @keyframes emailanimation {
    0% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity:1 }
    100% { -webkit-transform: translateY(15px); transform: translateY(15px); opacity:0 }
  }

  @-webkit-keyframes houseanimation {
    0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
    100% { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
  }

  @keyframes houseanimation {
    0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
    100% { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
  }

@include breakpint(mobile) {
    .contact-text {
        font-size: 1rem;
    }

    .google-map-responsive{
        width: 100%;
    }
}

